

 <div class="critters-page">
 <a href="/critters-fish"><img class="link-icons1" src="../images/fish.png"></a>
 <a href="/critters-bugs"><img class="link-icons2" src="../images/bugs.png"></a>
 <a href="/critters-seacreatures"><img class="link-icons3" src="../images/sea.png"></a>
 </div>
