{{!-- 
{{#each fishInfo}}
  <img src="{{this.icon_uri}}"></img>
  <h2>{{this.name.name-USen}}</h2>
  <a href="/critter/{{this._id}}">See more</a>
{{/each}} --}}


<div class="container">
 <button class="critters-buttons"><a href="/critters-fish">Fish</a></button>
 <button class="critters-buttons"><a href="/critters-bugs">Bugs</a></button>
 <button class="critters-buttons"><a href="/critters-seacreatures">Sea Creatures</a></button>
</div>
