
<div class="container">
  {{#if msg}}
    <p class="logout-msg">{{msg}}</p>
  {{/if}}
  <h1>My Critterpedia Maker</h1>
  <h3 class="index-text">
    <p>Welcome! Here you can keep track of the critters that you catched and
      those that are still waiting to be catched!
    </p>
  </h3>
  <img class="home-img" src="../images/homeimage.gif" />
</div>
<div class="buttons">
  <a href="/login">Log In</a>
  <a href="/signup">Sign Up</a>
</div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Deployed by:
    <a class="text-white" href="https://github.com/raqhidcor">Raquel Hidalgo</a>
  </div>
  <!-- Copyright -->
</footer>  


