
<div class="buttons">
<a href="/logout">Log out</a>
</div>
<div class="container">
<h1 class="profile-text">Welcome! {{loggedUser.username}} </h1>
<div class="container">
  <p class="profile-p-text">Catched</p> 
  <a href="/catched"> <img class="profile-img" src="../images/catched.png"/></a> 
  <p class="profile-p-text"> To catch</p>
  <a href="/toCatch">   <img class="profile-img" src="../images/toCatch.jpeg"/></a>
</div>
</div>
</div>
