
<div class="container">
<h1> To catch Critters</h1>



{{#each critters}}


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src={{image}} alt={{name}}>
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
    </div>
    <div class="card-footer">
        <form method="POST" action="/toCatch/delete/{{id}}">
        <button class="btn btn-creatures"type="submit" id="unFavButton">Remove critter</button>
        </form> 
    </div>
  </div>
</div>


{{/each}} 


</div>